body {
  background-color: #04a6eb;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button {
  padding: 5px 20px;
  background-color: #03045E;
  border-style: none;
  color: #90E0EF;
}

input {
  height: 25px;
}